# SPDX-FileCopyrightText: Copyright (C) 2019 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

#ignore config files
config/
!config/*.template
.env

#ignore cert files
certs/

#ignore temp dir
tmp/

#ignore dependencies
node_modules/
vendor/

#ignore log files
php-error.log

# macOS
.DS_Store

# ignore IDE files
.idea/

# ignore npmrc file
.npmrc