# SPDX-FileCopyrightText: Copyright (C) 2023 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

* text=auto
# project-specific settings
#
# Shell scripts require LF
*.sh    text eol=lf
# crontab requires LF
crontab text eol=lf
