# ignore ide and editor swap files
*.vscode
*.swp

#ignore config files
config/

#ignore dependencies
node_modules/*
vendor/
package-lock.json
composer.lock

#ignore lock files
VirtualWaitingRoom/cronjob/*.lock
smsReceiver.lock

#ignore log files
php-error.log
