[submodule "VirtualWaitingRoom"]
	path = VirtualWaitingRoom
	url = http://jkildea@bitbucket.scs.muhc.mcgill.ca/scm/orms/VirtualWaitingRoom.git
[submodule "ormsscheduler"]
	path = ormsscheduler
	url = http://jkildea@bitbucket.scs.muhc.mcgill.ca/scm/orms/ormsscheduler.git
	branch = master
