#.htaccess file

Options FollowSymLinks
Options -Indexes +Multiviews +Includes +ExecCGI

AddHandler server-parsed .html
AddHandler cgi-script .pl .pm

#disable access to the config folder
RedirectMatch 404 ^/config

# to redirect unauthorized user to the login page
ErrorDocument 401 "/auth/login.html"

# use memcache for authentication
require valid-user

Auth_memCookie_CookieName ormsAuth
Auth_memCookie_Memcached_Configuration --server=127.0.0.1:11211
Auth_memCookie_SilmulateAuthBasic on

Auth_memCookie_Authoritative on
AuthType Cookie
AuthName "Login Intranet"

#allow access to certain api scripts without being logged in
<Files "./favicon.ico">
    Require all granted
</Files>

<Files "processAppointmentFromMedivisit.php">
    Require all granted
</Files>

<FilesMatch "check(in|In)Patient(AriaMedi|MV)\.php">
    Require all granted
</FilesMatch>
