
Options FollowSymLinks
Options -Indexes +MultiViews +Includes +ExecCGI

AddType application/x-httpd-php .php

AddHandler server-parsed .html
AddHandler cgi-script .pl .pm

#disable access to the config folder
RedirectMatch 404 ^/config

# to redirect unauthorized user to the login page
ErrorDocument 401 "/orms/auth/login.html"

# use memcache for authentication
Require valid-user

# For authentication use sessionid cookie that is coming from new opalAdmin (Django)
Auth_memCookie_CookieName sessionid
Auth_memCookie_Memcached_Configuration --server=memcached:11211
Auth_memCookie_SilmulateAuthBasic on

Auth_memCookie_Authoritative on
AuthType Cookie
AuthName "Login Intranet"

# Disable caching
Header set Cache-Control "no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires 0

<Files "./favicon.ico">
    Satisfy any
</Files>
