@xlts.dev:registry=https://registry.xlts.dev/
//registry.xlts.dev/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJtY2dpbGwtdW5pdmVyc2l0eS1oZWFsdGgtY2VudGVyIl0sIm5hbWUiOiJtY2dpbGwtdW5pdmVyc2l0eS1oZWFsdGgtY2VudGVyIiwiZ3JvdXBzIjpbIm1jZ2lsbC11bml2ZXJzaXR5LWhlYWx0aC1jZW50ZXIiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJtY2dpbGwtdW5pdmVyc2l0eS1oZWFsdGgtY2VudGVyIl0sImlhdCI6MTY1ODk1MzU3MSwibmJmIjoxNjU4OTUzNTcxfQ.t8jdAxCf7qSfqVjTgH5VwG453tovQ1cJ_7hgmmONVuQ
//registry.xlts.dev/:always-auth=true