# SPDX-FileCopyrightText: Copyright (C) 2026 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# restrict dependency releases to be at least 7 days old
# see: https://socket.dev/blog/npm-introduces-minimumreleaseage-and-bulk-oidc-configuration#New-minimumReleaseAge-Setting
min-release-age=7 # days
ignore-scripts=true
