parameters:
    level: 8
    paths:
        - php/
        - VirtualWaitingRoom/php/
        - auth/
    excludes_analyse:
        - VirtualWaitingRoom/php/pdfGenerator/
        - VirtualWaitingRoom/php/clinicalViewer/
    stubFiles:
        - php/stub/PDOStatement.stub
