<!DOCTYPE html>
<html>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <title>Opal RMS Login Page</title>
        <base href="/orms/">

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>

        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="auth/custom.css">

        <noscript>
            <div id="nojavascript">
                <div>
                    This application requires JavaScript for correct operation. Please <a href="https://www.enable-javascript.com/" target="_blank" rel="noreferrer noopener">enable JavaScript</a> and reload the page.
                </div>
            </div>
        </noscript>
    </head>

    <body ng-app="myApp" ng-controller="main">
        <div ng-if="showSpecialitySelection" style="width:100%;height:100%;background-color: white;position: absolute;z-index: 1;"></div>
        <div class="error-wrapper" ng-if="error">
            <div class="error-text">{{error}}</div>
        </div>
        <!-- <div class="body-login">
            <div class="pageHeader"></div>
            <div class="logo-desc">
                <img src="images/Opal_RMS_logo.png" width="40%">
            </div>

            <form class="login-form" ng-submit="authenticateUser()">
                <div style="width: 200%"><h1 style="font-size: 32px">Login to ORMS to manage your clinic</h1></div>
                <fieldset class="field-holder">
                    <input class="credentials" type="text" ng-model="username" name="username" placeholder="MUHC AD Username" autofocus required />
                    <input class="credentials" type="password" ng-model="password" placeholder="Password" required />

                    <div class="error-wrapper">
                        <div class="error-text">{{error}}</div>
                    </div>
                    <div class="submit-wrapper">
                        <input type="submit" class="login-submit" title="Confirm" value="Log in" />
                        <div class="submit-icon"><img src="images/confirm-white.png" /></div>
                    </div>
                </fieldset>
                <div class="help-container">
                    <div class="help-trigger">Need help?</div>
                    <div class="help-text">Please contact the help desk at extension x48484</div>
                </div>

            </form>
        </div> -->
    </body>
</html>

<script>
var app = angular.module('myApp', ['ngCookies', 'ngMaterial']);

app.controller('main', function($scope, $http, $mdDialog, $cookies, $location, $window, $timeout)
{
    // Check if Django's session cookies already exist (e.g., sessionid and csrftoken) in case
    // user logged in via OpalAdmin.
    // The actual check is performed in PHP: php/api/public/v1/auth/validateSession
    //
    // If the condition is True:
    //     - validate Django's session cookies by making a call to the Django backend;
    //     - if session cookies are valid, create a session in the ORMS backend;
    //     - show area selection modal pop-up dialog;
    // Otherwise user should see login page (e.g., normal logging in workflow).
    validateOpalAdminSession();

    // $scope.authenticateUser = async function()
    // {
    //     $scope.error = "";

    //     try {
    //         const response = await $http({
    //                 url: "php/api/public/v1/auth/createSession",
    //                 method: "POST",
    //                 data: {
    //                     "username": $scope.username,
    //                     "password": $scope.password
    //                 }
    //         });

    //         processAuthentication();
    //     } catch (error) {
    //         $timeout(function(){
    //             $scope.error = error?.data?.error ? error.data.error : "Authentication failed";
    //             $scope.password = "";
    //         });
    //     };
    // };

    async function processAuthentication()
    {
        $scope.showSpecialitySelection = true;

        // Fetch all available areas
        const specialityGroups = await fetchSpecialityGroups();

        // Show a modal pop-up dialog with the all available areas
        let area = await showAreaModalDialog(specialityTemplate, specialityGroups);

        // If chosen speciality group (a.k.a. area) has more than one TV hubs (e.g., several floors or levels)
        // show the second modal pop-up dialog with the hubs.
        let hub;
        if (area.length !== 1) hub = await showAreaModalDialog(hubTemplate, area);
        else hub = area[0];

        createCookiesAndRedirect(hub);
    }

    async function showAreaModalDialog(template, dialogOptions)
    {
        let areaModalDialog = $mdDialog.confirm(
        {
            escapeToClose: false,
            template: template,
            locals: {
                dialogOptions: dialogOptions,
            },
            controller: function($scope, dialogOptions)
            {
                $scope.dialogOptions = dialogOptions;
                $scope.complete = function(option)
                {
                    $mdDialog.hide(option);
                }
            }
        })
        .ariaLabel('Area Dialog')
        .hasBackdrop(false);

        const result = await $mdDialog.show(areaModalDialog);
        return result;
    }

    function createCookiesAndRedirect(hubData)
    {
        $cookies.put("specialityGroupId", hubData["specialityGroupId"], {path: "/"});
        $cookies.put("specialityGroupName", hubData["specialityGroupName"], {path: "/"});
        $cookies.put("clinicHubId", hubData["clinicHubId"], {path: "/"});
        $cookies.put("clinicHubName", hubData["clinicHubName"], {path: "/"});
        $cookies.put("hospitalCode", hubData["hospitalCode"], {path: "/"});

        $window.location.href = $location.absUrl();
    }

    // Get a list of clinical areas (a.k.a. hubs) by making a call to the ORMS backend
    async function fetchSpecialityGroups()
    {
        try {
            const response = await $http({
                url: "php/api/public/v1/hospital/getHubs",
                method: "POST",
                data: null,
            });

            return response?.data?.data;
        } catch (error) {
            console.error('An error occurred while fetching speciality groups: ', error);
            return [];
        }
    }

    // Check if Django's sessionid and csrftoken cookies are valid and set ORMS cookies.
    async function validateOpalAdminSession() {
        try {
            const response = await $http({
                url: "php/api/public/v1/auth/validateSession",
                method: "GET",
            });

            // Show area modal pop-up dialog and set ORMS cookies.
            processAuthentication();
        } catch (error) {
            if (error.status === 403) {
                $timeout(function() {
                    $scope.error = "You do not have permission to access ORMS. Contact the Opal systems administrator.";
                });
            } else if (error.status === 401) {
                $window.location.href = 'http://localhost:8082';
            } else {
                console.error(`Session validation failed: ${error?.data?.error}`);
            }
        }
    }
});

var specialityTemplate = `
    <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_0">
        <h2 class="md-title ng-binding">Connect to a Clinical Area</h2>
        <div ng-if="::!dialog.mdHtmlContent" class="md-dialog-content-body ng-scope">
            <span style="display:flex;justify-content:center;">
                <md-button ng-repeat="(key,spec) in dialogOptions" md-no-ink="" class="md-raised md-primary" ng-click="complete(spec)">{{key}}</md-button>
            </span>
        </div>
    </md-dialog-content>
`;

var hubTemplate = `
    <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_0">
        <h2 class="md-title ng-binding">Select a TV Hub</h2>
        <div ng-if="::!dialog.mdHtmlContent" class="md-dialog-content-body ng-scope">
            <span style="display:flex;justify-content:center;">
                <md-button ng-repeat="hub in dialogOptions" md-no-ink="" class="md-raised md-primary" ng-click="complete(hub)">{{hub.clinicHubName}}</md-button>
            </span>
        </div>
    </md-dialog-content>
`;

</script>
