<!DOCTYPE html>
<html>
    <head>
        <script src="/node_modules/dayjs/dayjs.min.js"></script>
        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/kiosk/controller.js"></script>

        <title>Patient Check In</title>

        <!-- check in -->
        <!-- send to reception -->
        <!-- <META HTTP-EQUIV="refresh" CONTENT="11\; URL=$checkin_script?location=$location"> -->
    </head>


    <body ng-app="myApp" ng-controller="main" style="background-color: rgb(128,128, 128); width: 100%; height: 100%; display: inline-grid; justify-content: center; align-items: center; font-family: Helvetica,Arial,sans-serif;">
        <!-- if $location =~ m/Reception/i; -->
        <!-- <center>Patient has been checked into appointment <i>$MV_Resource[$appointment]</i> at <b>$MV_ScheduledStartTime[$appointment]</b>... status: $MV_CheckinStatus[$appointment]<br></center> -->

        <div style="background-color: white; width: 1000px; height: 100%;">

            <div style="padding-top: 8px; background-color: white; font-size: 24px">
                <div style="display: flex; justify-content: left; align-items: center;">
                    <!-- <span style="width: 25%; height: 100px; text-align: center;"><img style="height: 100%;" ng-if="pageProperties.displayNetworkWarning" src="/images/networkWarning.png"></span> -->
                    <span style="width: 25%; text-align: center;"><img ng-if="pageProperties.displayNetworkWarning" src="/images/networkWarning.png"></span>
                    <span style="width: 50%; text-align: center;"><img src="/images/logo.png"></span>
                    <span style="width: 25%; text-align: center;"><img ng-src="{{messageComponents.locationImage}}"></span>
                </div>
            </div>

            <!-- top part - in french  -->
            <div style="text-align: center; display: flex; justify-content: center;">
                <span style="font-weight: bold; color: white; font-size: 60px; width: 80%" ng-style="{'background-color': pageProperties.messageBackgroundColor}">{{messageComponents.mainMessage.french}}</span>
            </div>

            <br>

            <div style="vertical-align: center;display: flex; justify-content: center;">
                <span style="font-size: 30px; width: 80%;" ng-bind-html="messageComponents.subMessage.french"></span>
            </div>

            <br>

            <!-- mid part - with animation or image -->
            <div style="font-family: Helvetica,Arial,sans-serif; display: flex; width: 100%;">
                <span style="width: 25%; display: flex; align-items: center; justify-content: center;"><img ng-src="{{messageComponents.arrowImage}}"></span>
                <span style="font-weight: bold; font-size:25px; width: 50%; display: flex; align-items: center; justify-content: center;" ng-bind-html="messageComponents.centerImage"></span>
                <span style="width: 25%; display: flex; align-items: center; justify-content: center;"><img ng-src="{{messageComponents.arrowImage}}"></span>
            </div>

            <br>

            <!-- bottom part - in english -->
            <div style="text-align: center; display: flex; justify-content: center;">
                <span style="font-weight: bold; color: white; font-size: 60px; width: 80%" ng-style="{'background-color': pageProperties.messageBackgroundColor}">{{messageComponents.mainMessage.english}}</span>
            </div>

            <br>

            <div style="vertical-align: center;display: flex; justify-content: center;">
                <span style="font-size: 30px; width: 80%;" ng-bind-html="messageComponents.subMessage.english"></span>
            </div>

            <br>

            <!-- input box for scanner -->
            <div style="text-align: center;">
                <form ng-submit="scanPatient(scannerInput); scannerInput = null">
                    <input type="text" ng-model="scannerInput" autofocus>
                </form>
            </div>

            <br>

        </div>
    </body>

</html>
