<!DOCTYPE html>
<html class="fullscreen">
    <head>
        <link rel="stylesheet" href="./kiosk.css">
        <script src="/node_modules/dayjs/dayjs.min.js"></script>
        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/kiosk/controller.js"></script>

        <title>Patient Check In</title>

        <!-- check in -->
        <!-- send to reception -->
        <!-- <META HTTP-EQUIV="refresh" CONTENT="11\; URL=$checkin_script?location=$location"> -->
    </head>


    <body ng-app="myApp" ng-controller="main" class="fullscreen align-center main-body">
        <!-- if $location =~ m/Reception/i; -->
        <!-- <center>Patient has been checked into appointment <i>$MV_Resource[$appointment]</i> at <b>$MV_ScheduledStartTime[$appointment]</b>... status: $MV_CheckinStatus[$appointment]<br></center> -->

        <div class="kiosk-div" ng-style="{'width': pageProperties.kioskWidth}">

            <div class="header-div">
                <span class="header-section-div align-center" style="width: 25%;"><img class="image-container" ng-if="pageProperties.displayNetworkWarning" src="/images/networkWarning.png"></span>
                <span class="header-section-div align-center" style="width: 50%;"><img class="image-container" src="/images/logo.png"></span>
                <span class="header-section-div align-center" style="width: 25%; font-size: 2.5vh;">{{pageProperties.locationDisplay}}</span>
            </div>

            <!-- top part - in french -->
            <div class="message-bar-div align-center">
                <span class="message-bar-span" ng-style="{'background-color': pageProperties.messageBackgroundColor}">{{messageComponents.mainMessage.french}}</span>
            </div>

            <div class="sub-message-bar-div align-center">
                <span class="sub-message-bar-span" ng-bind-html="messageComponents.subMessage.french"></span>
            </div>

            <br>

            <!-- mid part - with animation or image -->
            <div class="middle-display-div">
                <span class="middle-display-span" style="width: 25%;"><img class="image-container" ng-src="{{messageComponents.arrowImage}}"></span>
                <span class="middle-display-span" style="width: 50%;"><img class="middle-display-image image-container" ng-src="{{messageComponents.centerImage}}" ng-if="messageComponents.centerImage"></span>
                <span class="middle-display-span" style="width: 25%;"><img class="image-container" ng-src="{{messageComponents.arrowImage}}"></span>
            </div>

            <!-- bottom part - in english -->
            <div class="message-bar-div align-center">
                <span class="message-bar-span" ng-style="{'background-color': pageProperties.messageBackgroundColor}">{{messageComponents.mainMessage.english}}</span>
            </div>

            <div class="sub-message-bar-div align-center">
                <span class="sub-message-bar-span" ng-bind-html="messageComponents.subMessage.english"></span>
            </div>

            <br>

            <!-- input box for scanner -->
            <div class="scanner-bar">
                <form ng-submit="processScannerInput(scannerInput); scannerInput = null">
                    <input type="text" ng-model="scannerInput" autofocus>
                </form>
            </div>

        </div>
    </body>

</html>
