<md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_0">
    <h2 class="md-title ng-binding">Connect to a Clinical Area</h2>
    <div ng-if="::!dialog.mdHtmlContent" class="md-dialog-content-body ng-scope">
        <span style="display:flex;justify-content:center;">
            <md-button md-no-ink="" class="md-raised md-primary" ng-click="complete('RC')">RC</md-button>
            <md-button md-no-ink="" class="md-raised md-primary" ng-click="complete('S1')">S1</md-button>
        </span>
    </div>
</md-dialog-content>
