<style>
    .diag-list {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    .diag-list td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    .custom-container input[type="search"]::-webkit-search-decoration,
    .custom-container input[type="search"]::-webkit-search-cancel-button,
    .custom-container input[type="search"]::-webkit-search-results-button,
    .custom-container input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance:none;
    }

    .diag-list tr:hover {background-color: #ddd;}

    .diag-list th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50 !important;
      color: white;
    }

    .custom-container {
        z-index: 100000 !important;

    }

    .text-scroll:hover {
        position: absolute;
        animation: text-scroll 5s linear infinite;
    }

    @keyframes text-scroll {
        0%   { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }

</style>

<div class="modal-header">
    <h3 class="modal-title">{{patient.LastName}}, {{patient.FirstName}} ({{patient.Mrn}})</h3>
</div>

<div class="modal-body">

    <br/>

    <div class="row questionnaire-container">

        <h2 style="text-align:center;margin-top: 0;margin-bottom: 20px;">Diagnosis List</h2>

        <div style="display: flex;margin: 10px">
            <div style="width: 60%;">
                <md-autocomplete
                    md-selected-item="userSelectedDiagnosis"
                    md-items="diag in searchList(diagSearchText)"
                    md-item-text="diag.subcode +' : '+ diag.subcodeDescription"
                    placeholder="Select Diagnosis"
                    md-search-text="diagSearchText"
                    md-delay="1000"
                    md-min-length=3
                    md-floating-label="Enter diagnosis code or description"
                    md-menu-container-class="custom-container"
                    class="custom-container"
                >
                    <md-item-template>
                        <span ng-mouseover="addAnimationIfOverflowed($event)" ng-mouseleave="removeAnimation($event)">
                            <span md-highlight-text="diagSearchText" md-highlight-flags="ig">{{diag.subcode}}</span>
                            <span md-highlight-text="diagSearchText" md-highlight-flags="ig" style="font-style: italic;">{{diag.subcodeDescription}}</span>
                        </span>
                    </md-item-template>
                    <md-not-found>
                        No matches!
                    </md-not-found>
                </md-autocomplete>
            </div>

            <div style="width: 15%;margin-left: 20px;transform: translateY(25%);">
                <input type="date" ng-model="userSelectedDate" />
            </div>

            <div class="text-center animate-show" style="width: 15%;margin-left: 40px;transform: translateY(25%);" ng-click="addPatientDiagnosis(userSelectedDiagnosis)">
                <input type="button" class="btn btn-info btn-block btn-que" value="Add Diagnosis" ng-disabled="userSelectedDiagnosis === null || userSelectedDate === null"/>
            </div>
        </div>

        <table ng-table="patientDiagnosisList" class="diag-list">
            <!-- <tr>
                <th>ICD-10 Code</th>
                <th>Diagnosis Description</th>
                <th>Diagnosis Date</th>
                <th>Action</th>
            </tr> -->
            <tr ng-repeat="diag in $data" ng-style="{ 'background-color' : (diag.isExternalSystem === 1) ? '#c0ff9f' : 'white' }">
                <td title="'ICD-10 Code'" sortable="'diagnosis.subcode'">{{diag.diagnosis.subcode}}</td>
                <td title="'Diagnosis Description'" sortable="'diagnosis.subcodeDescription'">{{diag.diagnosis.subcodeDescription}}</td>
                <td title="'Diagnosis Date'" sortable="'diagnosisDate'">{{diag.diagnosisDate | date: 'yyyy-MM-dd'}}</td>
                <td title="'Action'" sortable="'isExternalSystem'" style="text-align: center;">
                    <div ng-if="diag.isExternalSystem !== 1" class="text-center animate-show" ng-click="deletePatientDiagnosis(diag)">
                        <input type="button" class="btn btn-danger btn-block btn-que" value="Delete"/>
                    </div>
                    <span ng-if="diag.isExternalSystem === 1">From Opal</span>
                </td>
            </tr>
        </table>
        </form>
    </div>
    <br>
</div>
