<!-- Weight Modal -->
<div class="modal-header">
    <h3 class="modal-title">Enter Patient Measurements For {{patient.lastName}}, {{patient.firstName}} ({{patient.mrn}})</h3>
</div>
<div class="modal-body">
    <div class="weight-div">
    <table class="table table-measurement">
        <tr>
            <td class="weight-cell"><b>Weight: </b></td>
            <td class="weight-cell"><input type="number" class="weight-modal-input weight-input" ng-model="patient.weight" step="any" min="0" ng-change="verifyMeasurements()" /><b> kg</b></td>
            <td>Height: </td>
            <td><input type="number" class="weight-modal-input" ng-model="patient.height" step="any" min="0" ng-change="verifyMeasurements()"/> cm</td>
        </tr>
        <tr>
            <td>BSA (Dubois): </td>
            <td><input type="number" class="weight-modal-input" ng-model="patient.bsa" step="any" disabled /> m<sup>2</sup></td>
            <td><button class="btn btn-primary weight-update-button" ng-class="updateConfirmed ? '' : 'weight-update-button-warning'" ng-click="updateWeightChart()" ng-disabled="!patient.weight || invalidMrnDetected">{{updateConfirmed ? 'Update' : 'Confirm'}}</button></td>
            <td></td>
        </tr>
    </table>
    </div>

    <p style="text-align: center; font: 16px; color: red;" ng-if="warnForWeight"><b>Significant weight change since last appointment.</b></p>
    <p style="text-align: center; font: 16px; color: red;" ng-if="warnForHeight"><b>Significant height change since last appointment.</b></p>
    <p style="text-align: center; font: 16px; color: red;" ng-if="warnForBSA"><b>Significant BSA change since last appointment.</b></p>
    <p style="text-align: center; font: 16px; color: red;" ng-if="invalidMrnDetected"><b>Invalid weight detected for this patient. Please contact opal@muhc.mcgill.ca for assistance.</b></p>

    <highchart config="historicalChart.config" id="hisChart"></highchart>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="accept()">Go Back</button>
</div>
