<!DOCTYPE html>
<html>
<head>
    <title>MUHC ORMS Waiting Room Management System</title>
</head>

<body ng-app="myApp" ng-controller="main" style="margin-left: 8px;">
    <center><h1>MUHC ORMS Waiting Room Management System</h1></center><center><h2><u>Instant Appointment Add-On</u></h2></center>

    <table border="0" width="50%" padding="5">
        <tr><td valign="top"> Instantly add on appointments that are not in the waiting room management system. <br>Note: this tool does not create an appointment in other softwares/systems.</font></td></tr>
    </table>
    <br>

    <form ng-submit="createAddOn()">
        <table border="0" width="60%" padding="2">
            <tr bgcolor=#1D0886 fgcolor=#FFFFFF><th colspan=5 width="20%" align="left"><font color=#FFFFFF>Patient Information</font></th></tr>
            <tr><td><b>MRN</b></td><td colspan="3"> <input maxlength="40" size="20" ng-model="pageFields.pid" id="pid" disabled></td></tr>
            <tr><td><b>RAMQ</b></td><td colspan="3"> <input maxlength="40" size="20" ng-model="pageFields.Ramq" id="Ramq" disabled></tr>
            <tr><td><b>RAMQ Expire Date</b></td><td colspan="3"> <input maxlength="40" size="20" ng-model="pageFields.RamqExpiryDate" id="RamqExpiryDate" disabled></td></tr>
            <tr><td><b>Patient Last Name</b></td><td colspan="3"> <input maxlength="40" size="20" ng-model="pageFields.last" id="last" disabled></td></tr>
            <tr><td><b>Patient First Name</b></td><td colspan="3"> <input maxlength="40" size="20" ng-model="pageFields.first" id="first" disabled></td></tr>
            <tr><td></td></td>

            <tr bgcolor=#1D0886 fgcolor=#FFFFFF><th colspan=5 width="20%" align="left"><font color=#FFFFFF>Appointment Information</font></th></tr>

            <tr><td><b>Appointment Code</b></td>
            <td>
                <select class="selectpicker" data-style="border-select" data-live-search="true" title="Select appointment" ng-model="pageFields.AppointCode" required>
                    <option ng-repeat="appointment in loadedAppointments">{{appointment}}</option>
                </select>
            </td>
            </tr>

            <tr><td><b>Clinic Name</b></td>
            <td>
                <select class="selectpicker" data-style="border-select" data-live-search="true" title="Select clinic" ng-model="userSelectedResource" ng-change="updateSelectedResource(userSelectedResource)" required>
                    <option ng-repeat="resource in loadedResources" data-subtext={{resource.code}} value="{{resource}}">{{resource.description}}</option>
                </select>
            </td>
            </tr>

            <tr><td><b>Appointment Date/Time</b></td>
            <td>
            <input type="datetime-local" id="myDate" ng-model="pageFields.AppointDate"/>
            </td>
            </tr>

            <tr>
            <td colspan=5 align="center">
            <input type="submit" value="Submit"><input type="reset">
            </td>
            </tr>
        </table>
    </form>

    <hr>
    <center> Problems and bug reports to <a href="mailto: opal@muhc.mcgill.ca">opal@muhc.mcgill.ca</a></center>
    <center> <a href="../">Main Page</a></center>

</body>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>

<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">

<style>
.border-select {
    border: 1px solid grey;
}

</style>

<script>
var app = angular.module('myApp',['ngCookies']);

app.config(['$locationProvider',function ($locationProvider)
{
    $locationProvider.html5Mode({
        enabled: true,
        requireBase: false,
        rewriteLinks: false
    });
}]);

app.controller('main',function($scope,$timeout,$http,$filter,$cookies,$window,$location)
{
    //Ensure that page is refreshed when using back button
    if(!!$window.performance && $window.performance.navigation.type == 2)
    {
        $window.location.reload();
    }

    var pageParams = $location.search();

    //Pre fill the form with the specified patient params from the AddOnOnc_PRE page
    $scope.pageFields = {
        first: pageParams.first,
        last: pageParams.last,
        pid: pageParams.pid,
        site: pageParams.site,
        Ramq: pageParams.ramq,
        RamqExpiryDate: pageParams.ramqExp,
        speciality: $cookies.get("speciality"),
        AppointDate: new Date(),
        resourceCode: null,
        resourceDescription: null
    };

    $scope.pageFields.AppointDate.setSeconds(0);
    $scope.pageFields.AppointDate.setMilliseconds(0);

    if(!$scope.pageFields.Ramq || $scope.pageFields.Ramq === "null") {
        $scope.pageFields.Ramq = $scope.pageFields.pid;
    }

    if(!$scope.pageFields.RamqExpiryDate || $scope.pageFields.RamqExpiryDate === "null") {
        $scope.pageFields.RamqExpiryDate = "0000";
    }

    $scope.updateSelectedResource = resource => {
        resource = JSON.parse(resource);
        $scope.pageFields.resourceCode = resource.code;
        $scope.pageFields.resourceDescription = resource.description
    }

    //load list of oncology resources
    $http({
        url: "/php/script/getClinicResources.php",
        method: "GET",
        params:
        {
            speciality: $scope.pageFields.speciality
        }
    }).then(function (response)
    {
        $scope.loadedResources = response.data.resources;
        $scope.loadedAppointments = response.data.appointments;

        //initialize the bootstrap select
        $timeout(function () {$('.selectpicker').selectpicker('refresh')});
    });

    $scope.createAddOn = async function()
    {
        if(!$scope.pageFields.AppointCode) {
            alert("Please select an appointment code");
            return;
        }

        if(!$scope.pageFields.resourceCode) {
            alert("Please select a clinic");
            return;
        }

        //check if patient exists
        let patientExists = await $http({
            url: "/php/api/public/v1/patient/checkIfPatientExists.php",
            method: "POST",
            data: {
                "mrn": $scope.pageFields.pid,
                "site": $scope.pageFields.site
            }
        })
        .then(r => JSON.parse(r.data.data))
        .catch(_ => {
            alert("Unknown error");
            throw new Error("Unknown error");
        });

        //create the patient if it doesn't exist already
        if(patientExists !== true)
        {
            await $http({
                url: "/php/api/public/v1/patient/updatePatientDemographics.php",
                method: "POST",
                data: {
                    firstName:          $scope.pageFields.first,
                    lastName:           $scope.pageFields.last,
                    ramq:               $scope.pageFields.Ramq,
                    ramqExpiration:     ($scope.pageFields.RamqExpiryDate === "0000") ? null : convertDatetimeToString(new Date($scope.pageFields.RamqExpiryDate)),
                    mrns: [
                        {
                            mrn: $scope.pageFields.pid,
                            site: $scope.pageFields.site,
                            active: 1
                        }
                    ]
                }
            })
            .catch(_ => {
                alert("Unable to register patient");
                throw new Error("Unable to register patient");
            });
        }

        //create the add-on
        await $http({
            url: "/php/api/public/v1/appointment/insertOrUpdateAppointment.php",
            method: "POST",
            data: {
                appointmentCode:                $scope.pageFields.AppointCode,
                // appointmentCodeDescription
                clinics: [
                    {
                        clinicCode: $scope.pageFields.resourceCode,
                        clinicDescription: $scope.pageFields.resourceDescription
                    }
                ],
                creationDatetime:               convertDatetimeToString(new Date()),
                mrn:                            $scope.pageFields.pid,
                scheduledDatetime:              convertDatetimeToString($scope.pageFields.AppointDate),
                site:                           $scope.pageFields.site,
                specialityGroup:                $scope.pageFields.speciality,
                sourceId:                       "ORMS"+$scope.pageFields.pid+"-"+(new Date().getTime()),
                sourceSystem:                   "InstantAddOn",
                status:                         "Open",
            }
        })
        .catch(_ => {
            alert("Unable to register patient");
            throw new Error("Unable to register patient");
        });

        //check in should be called on appointment creation success
        $http({
            url: "/php/api/public/v1/patient/checkInToLocation.php",
            method: "POST",
            data: {
                mrn: $scope.pageFields.pid,
                site: $scope.pageFields.site,
                room: "ADDED ON BY RECEPTION"
            }
        })
        .then(_ => {
            alert("Success");
        })
        .catch(_ => {
            alert("Unable to check in patient.");
        });

    }

    function convertDatetimeToString(datetime)
    {
        let year = datetime.getFullYear();
        let month = datetime.getMonth() +1;
        month = (month < 10) ? "0"+month : month;

        let day = (datetime.getDate() < 10) ? "0"+datetime.getDate() : datetime.getDate();
        let hour = (datetime.getHours() < 10) ? "0"+datetime.getHours() : datetime.getHours();
        let minute = (datetime.getMinutes() < 10) ? "0"+datetime.getMinutes() : datetime.getMinutes();
        let second = (datetime.getSeconds() < 10) ? "0"+datetime.getSeconds() : datetime.getSeconds();

        return year+"-"+month+"-"+day+" "+hour+":"+minute+":"+second;
    }
});

</script>

<html>
