<!DOCTYPE html>
<html>
<head>
    <title>Opal RMS Waiting Room Management System</title>
    <base href="/orms/">
    <style>
        #patients {
            border-collapse: collapse;
            width: 100%;
        }
        #patients thead{
            background-color: #1D0886;
            color: white;
        }
        #patients td, #patients th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #patients tr:nth-child(even){background-color: #f2f2f2;}


        #patients th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #1D0886;
            color: white;
        }

        .selectable{
            cursor: pointer;
        }

    </style>
</head>

<body ng-app="myApp">
    <center>
        <table border=0 class="table" style="width: 100%">
            <tr>
                <td align="center" valign="center"></td>
                <td width="15%"><img src="images/Opal_RMS_logo.png" width="100%"></td>
                <td align="center" valign="center">
                    <center>
                        <h2 align="center" style="margin-left:10%; margin-right:15%; color: rgb(111,84,153); font-size: 32px"><b>Register Patient for Opal SMS</b><br></h2>
                    </center>
                </td>
                <td width="15%"><a href="VirtualWaitingRoom/AboutOpal.html"><h2 style="color: rgb(111,84,153); font-size: 40px"><b><u>About Opal</u></b></h2></td>
                <td align="center" valign="bottom"></td>
            </tr>
        </table>
    </center>

    <table border="0" width="50%" padding="5">
        <tr><td valign="top"> Enter patient MRN or RAMQ to find a patient. You will then have the option to register the patient for sms. </td></tr>
    </table>
<div ng-controller="main">
    <form>
        <table border="0" width="50%" padding="2">
            <!--  User enters MRN or RAMQ to retrieve info  -->
            <tr bgcolor=#1D0886 fgcolor=#FFFFFF><th colspan=5 width="20%" align="left"><font color=#FFFFFF> Patient Information</font></th></tr>
            <tr>
                <td><b>MRN</b></td>
                <td colspan="3"><input maxlength="40" size="20" ng-model="mrn"></td>

                <td colspan="5" align="right"><input type="submit" ng-click="fetchPatients()"> <button ng-click="resetPage()">Reset</button></td>
            </tr>
            <tr>
                <td><b>Site</b></td>
                <td colspan="3">
                    <select ng-model="site">
                        <option ng-repeat="s in sites">{{s.HospitalCode}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><p> OR  </p></td>
            </tr>
            <tr>
                <td><b>RAMQ</b></td>
                <td colspan="3"><input maxlength="40" size="20" ng-model="ramq"></td>

                <td colspan="4" align="right"><input type="submit" ng-click="fetchPatients()"> <button ng-click="resetPage()">Reset</button></td>
            </tr>

        </table>
    </form>
<p style="visibility:hidden; font-weight: bold;" id="VerifyPat">Please verify this is the correct patient information before continuing <br/>
Click on any patient data to be brought to add-on page.
</p>

    <form>
        <table id="patients">
            <thead style="font-weight: bold;">
                <tr>
                    <td>Last Name</td>
                    <td>First Name</td>
                    <td>MRN</td>
                    <td>Site</td>
                    <td>Active</td>
                    <td>RAMQ</td>
                    <td>RAMQ Expiration</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            <!--  Display the returned patient information  -->
                <tr ng-repeat="x in patientinfo">
                    <td style="font-weight: bold; color: red;">{{x.last}}</td>
                    <td style="font-weight: bold; color: red;">{{x.first}}</td>
                    <td>{{x.mrn}}</td>
                    <td>{{x.site}}</td>
                    <td>{{x.active}}</td>
                    <td>{{x.ramq}}</td>
                    <td>{{x.ramqExp | date: "yyyy-MM-dd"}}</td>
                    <td class="selectable" style="background-color: aqua;border: 2px solid;" ng-click="sendToSms(x)">Register For SMS</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<hr>
<center> Problems and bug reports to <a href="mailto: opal@muhc.mcgill.ca">opal@muhc.mcgill.ca</a></center>
<center> <a href="./">Main Page</a></center>
</body>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-cookies/angular-cookies.min.js"></script>

<script>
var app = angular.module('myApp',['ngCookies']);

app.config(['$locationProvider',function ($locationProvider)
{
    $locationProvider.html5Mode({
        enabled: true,
        requireBase: false,
        rewriteLinks : false
    });
}]);

app.controller('main',function($scope,$http,$window,$location)
{
    $scope.mrn = null;
    $scope.site = null;
    $scope.ramq = null;

    //Ensure page is refreshed when using back button
    if (!!$window.performance && $window.performance.navigation.type==2) {
        $window.location.reload();
    }

    //load list of oncology resources
    $http({
        url: "php/api/private/v1/hospital/getSites",
        method: "GET",
    }).then(function(response)
    {
        $scope.sites = response.data.data;
    });

    $scope.fetchPatients = function()
    {
        document.getElementById("VerifyPat").style.visibility = "visible";

        $http({
            url: "php/api/private/v1/patient/findPatient",
            method: "POST",
            data: {
                mrn: $scope.mrn,
                site: $scope.site,
                ramq: $scope.ramq
            }
        })
        .then(response => {
            let patients = response.data.data;
            if(patients.length === 0) {
                alert("No patients were found in the hospital systems.");
            }
            else {
                //display the returned records for user to view and select correct patient
                $scope.patientinfo = patients;
            }
        })
        .catch(_ => {
            alert("Error searching for patient. Please try again later.");
        });
    }

    $scope.resetPage = function(){
        window.location.reload();
    }

    $scope.sendToSms = function(data)
    {
        //prepare the redirect url with the selected patient's parameters for prefilling
        var landingurl = "interface/RegisterSMS.html?"
            +"first="+data.first
            +"&last="+data.last
            +"&mrn="+data.mrn
            +"&site="+data.site
            +"&patientId="+data.patientId;
        $window.location.href = landingurl; //send user to url
    }

});
</script>


</html>
