<!DOCTYPE html>
<html>
<head>
    <title>MUHC ORMS Waiting Room Management System - Register Patient for SMS Messages</title>
</head>

<body ng-app="myApp" ng-controller="main">
    <center><h1>MUHC ORMS Waiting Room Management System</h1></center><center><h2><u>Register Patient for SMS Messages</u></h2></center>

    <table border="0" width="50%" padding="5">
    <tr><td valign="top"> Register or unregister a patient to receieve an SMS message when his/her name appears on the TV screens. Patient must already exist in the ORMS</font>
    </td></tr>
    </table>
    <p>

    <form action="../php/script/registerSMS.php">
    <input type="hidden" name="Speciality" value="{{speciality}}">
    <table border="0" width="50%" padding="2">

    <tr bgcolor=#1D0886 fgcolor=#FFFFFF><th colspan=5 width="20%" align="left"><font color=#FFFFFF>Register Patient</font></th></tr>
    <tr><td><b>MRN</b></td><td colspan="3"> <input
        maxlength="40" size="20" name="PatientId"
        placeholder="1234567"
        pattern="[0-9]{7}"
        ng-model="pid"
        required
        ></td></tr>
    <tr><td><b>RAMQ</b></td><td colspan="3"> <input maxlength="40" size="20" name="Ramq" ng-model="Ramq" required></td></tr>
    <tr><td><b>Mobile number</b></td><td colspan="3"> <input type="tel"
        maxlength="40" size="20" name="SMSAlertNum"
        placeholder="1234567890"
        pattern="[0-9]{10}"
        required
        > 10 digits, no spaces</td></tr>
    <tr><td></td></tr>
    <tr><td><b>Language Preference</b></td>
    <td>
        <select name="LanguagePreference">
           <option value="French" selected>French</option>
           <option value="English">English</option>
        </select>
    </td>
    </tr>
    <tr><td colspan=2><hr></td></tr>

    <tr>
    <td colspan=5 align="center">
    <input type="submit" value="Submit"><input type="reset">
    </td>
    </tr>
    </table>
    </form>

    <br>

    <form action="../php/script/unregisterSMS.php">
    <table border="0" width="50%" padding="2">

    <tr bgcolor=#1D0886 fgcolor=#FFFFFF><th colspan=5 width="20%" align="left"><font color=#FFFFFF>Unregister Mobile Number</font></th></tr>
    <tr><td><b>Mobile number</b></td><td colspan="3"> <input type="tel"
        maxlength="40" size="20" name="SMSAlertNum"
        placeholder="1234567890"
        pattern="[0-9]{10}"
        required
        > 10 digits, no spaces</td></tr>
    <tr><td colspan=2><hr></td></tr>

    <tr>
    <td colspan=5 align="center">
    <input type="submit" value="Submit"><input type="reset">
    </td>
    </tr>
    </table>
    </form>

    <hr>
    <center> Problems and bug reports to <a href="mailto: opal@muhc.mcgill.ca">opal@muhc.mcgill.ca</a></center>
    <center> <a href="../">Main Page</a></center>
</body>

<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>

<script>
var app = angular.module('myApp',['ngCookies']);

app.config(['$locationProvider',function ($locationProvider)
{
    $locationProvider.html5Mode({
        enabled: true,
        requireBase: false,
        rewriteLinks : false
    });
}]);

app.controller('main', function($scope,$location,$cookies)
{
    var pageParams = $location.search();

    $scope.pid = pageParams.mrn;
    $scope.Ramq = pageParams.ramq;

    $scope.speciality = $cookies.get("speciality");

});

</script>


</html>
