#ignore changes to the checkin file
#keep track of the filler file (so the folder exists in the repo)
checkin/
!checkin/fillerFile

#ignore the cronjob lock file
cronjob/*.lock

# ignore ide and editor swap files
*.vscode
*.swp

#ignore js dependencies
node_modules/
#include modified modules
!node_modules/angular-material/angular-material_mod.js

php/loadConfigs.php
perl/loadConfigs.pl
patch/config_screens.php
patch/getQuestionnaires/config.php
